#!/bin/sh
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/bin"
yum remove -y python2-msgpack
yum install -y sudo
cat << EOF > /etc/yum.repos.d/moil.repo
[moil_x86_64]
name=moil_x86_64
baseurl=http://{{repo_address}}/x86_64
failovermethod=priority
enabled=1
priority=1
gpgcheck=0
repo_gpgcheck=0
gpgkey=http://{{repo_address}}/RPM-GPG-KEY-wileyj

[moil_noarch]
name=moil_noarch
baseurl=http://{{repo_address}}/noarch
failovermethod=priority
enabled=1
priority=1
gpgcheck=0
repo_gpgcheck=0
gpgkey=http://{{repo_address}}/RPM-GPG-KEY-wileyj
EOF
