#!/bin/sh
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
yum clean all
yum install -y sudo
cat << EOF > /etc/yum.repos.d/mbot_x86_64.repo
[mbot_x86_64]
name=mbot_x86_64
baseurl=http://{{repo_address}}/yum/RPMS/x86_64
exclude="{% for package in exclude_list %}{{package}} {% endfor %}"
gpgcheck=0
priority=1
enabled=1
EOF
cat << EOF > /etc/yum.repos.d/mbot_noarch.repo
[mbot_noarch]
name=mbot_noarch
baseurl=http://{{repo_address}}/yum/RPMS/noarch
exclude="{% for package in exclude_list %}{{package}} {% endfor %}"
gpgcheck=0
priority=1
enabled=1
EOF
