#!/bin/sh
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
yum install -y sudo
cat << EOF > /etc/yum.repos.d/temp.repo
[temp_x86_64]
name=local_x86_64
baseurl=http://{{repo_address}}/yum/RPMS/x86_64
failovermethod=priority
enabled=1
priority=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=http://{{repo_address}}/RPM-GPG-KEY-wileyj

[local_noarch]
name=local_noarch
baseurl=http://{{repo_address}}/yum/RPMS/noarch
failovermethod=priority
enabled=1
priority=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=http://{{repo_address}}/RPM-GPG-KEY-wileyj
EOF
