#!/bin/sh
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
yum install -y sudo
cat << EOF > /etc/yum.repos.d/local_x86_64.repo
[local_x86_64]
name=local_x86_64
baseurl=http://{{repo_address}}/yum/RPMS/x86_64
exclude="{% for package in exclude_list %}{{package}} {% endfor %}"
gpgcheck=0
priority=1
enabled=1
EOF
cat << EOF > /etc/yum.repos.d/local_noarch.repo
[local_noarch]
name=local_noarch
baseurl=http://{{repo_address}}/yum/RPMS/noarch
exclude="{% for package in exclude_list %}{{package}} {% endfor %}"
gpgcheck=0
priority=1
enabled=1
EOF
