#!/bin/sh
# clean salt packages
apt-get -y install sudo
packages=""
list="
    salt-common
    salt-master
    libjs-jquery
    libjs-sphinxdoc
    libjs-underscore
    libpgm*
    libsodium13
    libyaml*
    libzmq*
    python-concurrent.futures
    python-crypto
    python-dateutil
    python-jinja2
    python-markupsafe
    python-pycurl
    python-tornado
    python-yaml
    salt-common
    python-apt
    python-apt-common
    python-mysqldb
    python-zmq

"
for item in $list; do
    packages="$packages $item"
done
echo "**** apt-get remove -y $packages"
apt-get remove -y $packages
echo "****apt-get -y autoremove"
apt-get -y autoremove
wget -O - https://repo.saltstack.com/apt/ubuntu/16.04/amd64/latest/SALTSTACK-GPG-KEY.pub | sudo apt-key add -
echo "deb http://repo.saltstack.com/apt/ubuntu/16.04/amd64/latest xenial main" >> /etc/apt/sources.list.d/saltstack.list
exit 0
