{
    "_comment": "One Docker Base container for {{image}}",
    "builders": [{
        "type": "docker",
        "image": "{{image}}",
        "commit": "true",
        "pull": "true"
    }],
    "provisioners":[{
        "type": "shell",
        "script": "{{user_data_file}}"
    },{
        "type": "shell",
        "inline": [
            "yum update -y",
            "yum install -y {{ default_packages }}"
        ]
    },{
        "type": "file",
        "source": "{{ salt_grains_file }}",
        "destination": "/etc/salt/grains"
    },{
        "type": "salt-masterless",
        "local_state_tree": "{{ salt_state_tree }}",
        "local_pillar_roots": "{{ salt_pillar_root }}",
        "no_exit_on_failure": false,
        "log_level": "info",
        "skip_bootstrap": true
{% if extra_script and extra_script != "None" %}
    },{
        "type": "shell",
        "script": "{{ extra_script }}",
        "execute_command": "sudo -E sh '{% raw %}{{ .Path }}{% endraw %}' {{ extra_script_args }}"
{% endif %}
    },{
        "type": "shell",
        "inline": [
            "yum remove -y dmidecode telnet vim-common tcpdump openssh-server strace e2fsprogs* wget nmap* rsync openssh-clients"
        ]
{% if sudo and sudo != "None" %}
    },{
        "type": "shell",
        "script": "{{script}}"
{% endif %}
    }],
    "post-processors": [[
        {
            "type": "docker-tag",
            "repository": "{{prefix}}",
            "tag": "{{tag}}"
        }
{%- if docker_push %}
        ,"docker-push"
{% endif -%}
    ]]
}
