{
    "_comment": "docker Base container for {{image}}",
    "builders": [{
        "type": "docker",
        "image": "{{image}}",
        "commit": "true",
        "pull": "true"
    }],
    "provisioners":[{
        "type": "shell",
        "script": "{{script}}"{% if sudo and sudo != "None" %},
        "execute_command": "sh '{{sudo}}'"{% endif %}
    },{
        "type": "shell",
        "inline": [
            {% for package in services_packages %}{% if loop.first %}{% if os == "ubuntu" %}"apt-get install -y{% else %}"yum install -y {% endif %}{% endif %} {{package}}{% if loop.last %}"{% endif %}{% endfor %}
        ]
    },{
        "type": "shell",
        "inline": [
            "/usr/sbin/useradd -d /opt/SumoCollector -M -r -s /sbin/nologin -U sumologic_collector",
            "rpm -ivh https://collectors.sumologic.com/rest/download/rpm/64"
        ]
    },{
        "type": "file",
        "source": "/var/tmp/sumologic/sumo_exec",
        "destination": "/usr/local/bin/sumologic"
    },{
        "type": "file",
        "source": "templates/scripts/mb_init",
        "destination": "/bin/py_init"
    },{
        "type": "file",
        "source": "templates/scripts/runsvinit",
        "destination": "/bin/runsvinit"
    },{
        "type": "file",
        "source": "/var/tmp/sumologic/sumo-sources.json",
        "destination": "/etc/"
    },{
        "type": "shell",
        "script": "{{ script }}"
    },{
        "type": "shell",
        "script": "{{ services_script }}"
    }, {
        "type": "shell",
        "inline": [
            "chmod 755 /bin/mb_init",
            "chmod 755 /bin/runsvinit",
            "chmod 755 /usr/local/bin/sumologic",
            "chown -R sumologic_collector:sumologic_collector /etc/sumo-sources.json",
            "chown -R sumologic_collector:sumologic_collector /opt/SumoCollector"
        ]
    }],
    "post-processors": [[
        {
            "type": "docker-tag",
            "repository": "{{prefix}}",
            "tag": "{{tag}}"
        }{% if docker_push %},"docker-push" {% endif %}
    ]]
}
