{
    "_comment": "Ubuntu {{source_ami}} ec2 single-disk",
    "builders": [{
        "type": "amazon-ebs",
        "communicator": "ssh",
        "source_ami": "{{source_ami}}",
        "vpc_id": "{{vpc_id}}",
        "subnet_id": "{{subnet_id}}",
        "instance_type": "{{instance_type}}",
        "ssh_username": "{{ssh_user}}",
        "ssh_pty": true,
        "ami_name": "{{prefix}}",
        "region": "{{region}}",
        "iam_instance_profile": "{{instance_profile}}",
        "ami_regions": ["{{region}}"],
        "associate_public_ip_address": "{{public_ip}}",
    {{networking}}
        "ami_description": "{{prefix}}",
        "user_data_file": "{{user_data_file}}",
        "tags": {
            "OS": "{{ os }}",
            "Name": "{{prefix}}",
            "SourceAmi": "{{source_ami}}",
            "BuildTime": "{{timestamp}}",
            "BuildType": "Single Disk",
            "BuildMethod": "Packer",
            "Environment": "{{ environment }}",
            "Persist": "True"
        },
        "ami_block_device_mappings": [{
            "device_name": "/dev/xvda",
            "volume_size": 15,
            "volume_type": "gp2",
            "delete_on_termination": true,
            "encrypted": true
        },{
            "device_name": "/dev/sdf",
            "volume_size": 100,
            "volume_type": "gp2",
            "delete_on_termination": true,
            "encrypted": true
        }]
    }],
    "provisioners": [{
        "type": "shell",
        "execute_command": "sudo -S sh '{{ sudo }}'",
        "inline_shebang": "/bin/sh -e -x",
        "inline": [
            {% if os == "ubuntu" %}"sudo apt-get update -y "{% else %}"sudo yum clean all && sudo yum update -y "{% endif %},
            {% for package in default_packages %}{% if loop.first %}{% if os == "ubuntu" %}"sudo apt-get install -y{% else %}"sudo yum install -y {% endif %}{% endif %} {{package}}{% if loop.last %}"{% endif %}{% endfor %}
        ]
    },{
        "type": "shell",
        "execute_command": "sudo -S sh '{{ sudo }}'",
        "inline_shebang": "/bin/sh -e -x",
        "inline": [
            {% for module in modules %}"sudo pip install --upgrade  {{module}}"{% if not loop.last %},
            {% endif %}{% endfor %}
        ]
    },{
        "type": "file",
        "source": "{{ salt_grains_file }}",
        "destination": "/tmp/grains"
    },{
        "type": "shell",
        "execute_command": "sudo -S sh '{{ sudo }}'",
        "inline": [
            "mv /tmp/grains /etc/salt/grains"
        ]
    },{
        "type": "salt-masterless",
        "local_state_tree": "{{ salt_state_tree }}",
        "local_pillar_roots": "{{ salt_pillar_root }}",
        "bootstrap_args": "{{ bootstrap_args }}",
        "no_exit_on_failure": false,
        "log_level": "debug"
    },{
        "type": "shell",
        "script": "{{create_user_script}}",
        "execute_command": "sudo -E python '{{sudo}}' --group ops"
    },{
        "type": "shell",
        "execute_command": "sudo -S sh '{{ sudo }}'",
        "inline_shebang": "/bin/sh -e -x",
        "inline": [
            "echo '** Shreding sensitive data ...'",
            "shred -u /etc/ssh/*_key /etc/ssh/*_key.pub",
            "shred -u /root/.*history /home/{{ ssh_user }}/.*history",
            "shred -u /root/.ssh/authorized_keys /home/{{ ssh_user }}/.ssh/authorized_keys",
            "sync; sleep 1; sync"
        ]
{{ extra_script }}
    }]
}
