#!/bin/sh -x
# cleanup script
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/bin"
{% if tagname == 'latest' or tagname == 'master' %}
  {% if packages != "" %}
    # package removal
    {%- if os == "centos" or os == "amazon" %}
      yum remove -y {{ packages }}
    {%- else %}
      apt-get remove -y {{ packages }}
    {% endif -%}
  {% endif %}
  {%- if pip_modules != "" %}
    # module removal ...
    pip uninstall -y {{ pip_modules }}
  {%- endif %}
{%- endif %}


{%- if os == "centos" or os == "amazon" %}
  {% if type == 'docker' %}
    yum remove -y dmidecode telnet vim-common tcpdump openssh-server strace e2fsprogs* wget nmap* rsync openssh-clients
  {% endif %}
  # clean yum db
  yum clean all
{% endif %}

{%- if files != "" %}
  # empty files
  {%- for file in files %}
    echo > {{ file }}
  {% endfor %}
{%- endif %}
{%- if dirs != "" %}
  # dir cleanup
  rm -rf {{ dirs }}
{%- endif %}
for i in `ls /var/log`; do
    if [ -f "/var/log/$i" ]; then
        echo > /var/log/$i
    fi
done
