#!/bin/sh
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
{% if os != "coreos" and os != "atomic" %}
{% if os == "ubuntu" or os == "debian" %}
apt-get remove -y autoconf automake autotools-dev cpp-* cronie-anacron dictionaries-common dpkg-dev geomview ghostscript git  git-man gsfonts gsfonts-x11 libexpat1-dev libssl-dev libxml2-dev make manpages manpages-dev mlock postfix qt3-dev-tools rsh rsh-server telnet-server tftp-server ubuntu-minimal vsftpd whiptail x11proto xfonts* xinetd xkb-data xpdf ypbind ypserv
pip uninstall -y docutils Mako wsgiref
rm -rf /var/log/fsck /root/.cache /usr/share/doc /usr/share/man /var/lib/apt/lists /var/log/apt /var/cache/apt
echo > /var/log/dpkg.log
echo > /var/log/alternatives.log
{% endif %}
{% if os == "centos" or os == "amazon" %}
yum remove -y autoconf automake cpp* cronie-anacron dovecot ghostscript git gobject-introspection groff-base libgnome-keyring libx11-common libxkb lvm2-mlock make man-db newt poppler qt3-devel rsh rsh-server telnet-server tftp-server vsftpd xinetd ypbind ypserv yum-utils
yum remove -y python-Babel python-boto python-GitPython python-gnupg python-passlib python-Sphinx
pip uninstall -y docutils colorama iniparse kitchen awscli boto3 botocore
rm -rf /var/log/fsck /root/.cache /usr/share/doc /usr/share/man /var/cache/yum /var/lib/yum
echo > /var/log/yum.log
{% endif %}
{% endif %}

rm -rf /usr/share/doc/*
rm -rf /usr/share/man/*
for i in `ls /var/log`; do
    if [ -f "/var/log/$i" ]; then
        echo /var/log/$i
    fi
done
