{
    "_comment": "docker Base container for {{image}}",
    "builders": [{
        "type": "docker",
        "image": "{{image}}",
        "commit": "true",
        "pull": "true"
    }],
    "provisioners":[{
{% if sudo and sudo != "None" %}
        "type": "shell",
        "script": "{{script}}",
        "execute_command": "sudo -E sh '{{sudo}}'"
    },{
{% endif %}
        "type": "shell",
        "inline": [
            {% if os == "ubuntu" %}"apt-get update -y"{% else %}"yum update -y{{package}}"{% endif %},
            {% for package in default_packages %}{% if loop.first %}{% if os == "ubuntu" %}"apt-get install -y{% else %}"yum install -y{% endif %}{% endif %} {{package}}{% if loop.last %}"{% endif %}{% endfor %}
        ]
    },{
        "type": "file",
        "source": "{{ salt_grains_file }}",
        "destination": "/tmp/grains"
    },{
        "type": "salt-masterless",
        "local_state_tree": "{{ salt_state_tree }}",
        "local_pillar_roots": "{{ salt_pillar_root }}",
        "bootstrap_args": "{{ bootstrap_args }}",
        "no_exit_on_failure": false,
        "log_level": "debug"
{% if extra_script and extra_script != "None" %}
    },{
        "type": "shell",
        "script": "{{ extra_script }}",
        "execute_command": "sudo -E sh '{% raw %}{{ .Path }}{% endraw %}' {{ extra_script_args }}"
{% endif %}
{% if tagname == 'latest' or tagname == 'master' or role == 'base' %}
    },{
        "type": "shell",
        "inline": [
            "apt-get remove -y salt* salt-common salt-master",
            "apt-get remove -y libpython3-stdlib libpython3.4-minimal libpython3.4-stdlib python-chardet python-concurrent.futures python-crypto python-dateutil python-html5lib python-html5lib-whl python-jinja2 python-mako python-markupsafe python-msgpack python-mysqldb python-pycurl python-requests python-six python-urllib3 python-yaml python-zmq",
            "rm -rf /srv/salt /srv/pillar /srv/reactor /var/cache/salt",
            "apt-get autoremove -y"
        ]
{% endif %}
    }],
    "post-processors": [[
        {
            "type": "docker-tag",
            "repository": "{{prefix}}",
            "tag": "{{tag}}"
        }{% if docker_push %},"docker-push" {% endif %}
    ]]
}
