cat << EOF > /usr/sbin/runit_bootstrap
#!/bin/bash
export > /etc/envvars
exec /sbin/runsvdir-start
EOF

chown root:root /usr/sbin/runit_bootstrap
chmod 755 /usr/sbin/runit_bootstrap
