instance:
    application: {{ application }}
    role: {{ role }}
    environment: {{ environment }}
    release: {{ release }}
    tag: {{ tag }}
    platform: {{ platform }}
    ami_prefix: {{ prefix }}
    instance_profile: {{ instance_profile }}
    vpc_id: {{ vpc_id }}
    subnet_id: {{ subnet_id }}
    cleanup: {{ cleanup }}
{% if type != 'Docker' %}virtual_subtype: {{ type }}
{% endif %}
