#!/usr/bin/sh
cat << EOF > /etc/yum.repos.d/local.repo
[local-x86_64]
name=local-x86_64
baseurl=http://{{yumrepo_address}}/RPMS/x86_64
exclude={{exclude_list}}
gpgcheck=0
priority=1
enabled=1

[local-noarch]
name=local-noarch
baseurl=http://{{yumrepo_address}}/RPMS/noarch
exclude={{exclude_list}}
gpgcheck=0
priority=1
enabled=1
EOF
