#!/bin/sh
export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
yum install -y openssh-clients openssh-server openssh yum-plugin-priorities deltarpm strace nmap sysstat coreutils lsof at nc bc traceroute tcpdump binutils bind-utils rsync curl jdk golang telnet vim-enhanced
yum update -y
yum clean all
